# Ignore node_modules in any directory
**/node_modules/

# Ignore env files anywhere
**/.env
**/.env.local
**/.env.*.local

# Ignore build artifacts
**/dist/
**/build/

# Logs
*.log
logs
*.log*

# System
.DS_Store
Thumbs.db
